<div class="header flex flex-col gap-8">
  <div class="header flex flex-col gap-4 grow">
    <div>
      You searched for:
      <div class="result">{{ searchQuery }}</div>
    </div>
    <div>
      From backend:
      <div class="result">{{ replyQuery }}</div>
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Enter text here"
      class="text-black"
    />
    <button (click)="onClick()">Submit</button>
  </div>
</div>
